. .venv/bin/activate

set -a
. ../.env
set +a

# Redefine env variables defined in ../.env for local testing
export OPENMOLE_HOST=localhost
export DB_HOST=localhost
export JOB_REPO_LOCAL=/tmp/ants-job
